<%- include header %>
<% if (user) { %>
<form method="post" action="/edit/<%= post._id %>" class="well form-inline center" style="text-align:center;"
      xmlns="http://www.w3.org/1999/html">
    标题：</br>
    <input type="text" name="title" value="<%= post.title %>"/></br>

    标签：</br>
    <input type="text" name="tag1" value="<%=post.tags[0]%>" disabled="disabled"/></br>
    <input type="text" name="tag2"value="<%=post.tags[1]%>" disabled="disabled"/></br>
    <input type="text" name="tag3"value="<%=post.tags[2]%>" disabled="disabled"/></br>


    正文：</br>
    <textarea type="text"  name="post"><%=post.post%></textarea></br>
    <button type="submit" class="btn btn-success">
        <i class="icon-comment icon-white"> </i>
        保存修改
    </button>
</form>
<% } %>
<%- include footer %>