<% posts.forEach(function(post, index) {
if (index % 3 == 0) { %>
<div class="row">
    <% } %>
    <div class="span4">
        <p>

        <h2><a href="/article/<%= post._id %>"><%= post.title %></a></h2></p>

        作者：<a href="/u/<%= post.name %>"><%= post.name %></a>

        <p>
            日期：
            <small><%= post.time %></small>
        </p>
        <p><%- post.post %></p>
    </div>
    <% if (index % 3 == 2) { %>
</div><!-- end row -->
<% } %>
<% }) %>
<% if (posts.length % 3 != 0) { %>
</div><!-- end row -->
<% } %>